{% extends "base_generic.html" %}

{% block content %}
  <h1>Опросы</h1>
  {% if latest_question_list %}
    <ul>
      {% for question in latest_question_list %}
        <li>
          <h3><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></h3>
          {% if question.description_short %}
            <p>{{ question.description_short }}</p>
          {% endif %}
          {% if question.image %}
            <img src="{{ question.image.url }}" alt="Изображение к вопросу">
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Нет доступных опросов.</p>
  {% endif %}
{% endblock %}